<div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/shop/categories">All Categories</a></li>
    <li><a href="/shop/items">All Items</a></li>
    <li><a href="/shop/category/create">Create new Category</a></li>
    <li><a href="/shop/item/create">Create new Item</a></li>
  </ul>
</div>
