<% if(item.quantityAvailable < item.safetyStock) { %>
<span class="text-danger"><%= item.quantityAvailable %></span>
<% } else if (item.quantityAvailable < (item.reorderPoint + (2 *
item.dailyAverageUsage))) { %>
<span class="text-warning"><%= item.quantityAvailable %></span>
<% } else { %>
<span class="text-success"><%= item.quantityAvailable %></span>
<% } %>
