<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= typeof title != "undefined" ? title : "" %></title>
  </head>
  <body>
    <header>
      <img
        class="logo"
        src="/images/hand-truck.png"
        alt="illustration of a hand truck loaded with boxes"
      />
      <h1>Easy Stock</h1>
    </header>
    <side> <%- include('../partials/sidebar') %> </side>
    <main><%- body %></main>
    <footer>
      &copy; 2023 The Corner Market
      <a
        href="https://www.flaticon.com/free-icons/logistic"
        title="logistic icons"
      >
        Logistics icons created by Muhammad Atif - Flaticon
      </a>
      <a
        href="https://www.flaticon.com/free-icons/supplies"
        title="supplies icons"
        >Supplies icons created by Smashicons - Flaticon</a
      >
    </footer>
  </body>
</html>
