<div>
  <h1><%= category.name %></h1>
  <div class="grid">
    <% items.forEach(item => { %> 
    <div class="card">
      <a href="<%= item.url %>"><%= item.name %></a></p>
    </div>
    <% }); %>
  </div>
</div>
