<div>
  <script src="/scripts/passwordprompt.js" async></script>
  <h1><%= category.name %></h1>
  <% if (items.length) { %>
  <p>Delete the following items before attempting to delete this category</p>
  <% for (let item of items) {%>
  <p><%= item.name %> - Qty Available: <%= item.quantityAvailable %></p>
  <% } %> <% } else { %>
  <div>
    <p>Are you sure you want to delete this category?</p>
    <form id="protected-form" method="POST" enctype="multipart/form-data">
      <input type="hidden" name="categoryId" value="<%= category._id %>" />
      <input id="password" type="password" hidden />
      <input type="button" value="Delete" />
    </form>
  </div>
  <% } %>
</div>
