<div>
  <h1><%= title %></h1>
  <div class="grid">
    <% categories.forEach(category => { %> 
    <div class="card">
      <a href="<%= category.url %>"><%= category.name %></a></p>
    </div>
    <% }); %>    
  </div>
</div>
