* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 100px 1fr 50px;
  grid-template-areas: "header header" "sidebar main" "footer footer";
}

a {
  color: darkblue;
}

header {
  grid-area: header;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}

.logo {
  height: 70px;
  padding: 5px;
  margin-right: 10px;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

main {
  grid-area: main;
  padding: 1rem;
}

side {
  grid-area: sidebar;
  padding: 1rem;
  border-right: 1px solid black;
}

side ul {
  list-style-type: none;
}

.nav {
  font-size: 1.2rem;
}

.nav a {
  text-decoration: none;
}

.nav li {
  border-bottom: 1px solid black;
  padding: 0.5rem 0;
}

.nav li:last-child {
  border-bottom: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
}

.card {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 1rem;
  position: relative;
}

.card a {
  text-align: center;
  padding: 0.5rem 0;
}

.card img {
  width: 130px;
  height: 130px;
}

.stock-count {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.item-quantity-text {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border-radius: 10px;
}

.text-danger {
  background-color: red;
  color: white;
}

.text-warning {
  background-color: orange;
  color: white;
}

.text-success {
  background-color: green;
  color: white;
}

.wrapper {
  display: flex;
}

.item-detail-image {
  border: 1px solid black;
  padding: 1rem;
  width: 300px;
  height: 300px;
  margin-left: 1rem;
}

.form-container {
  width: 400px;
}

form,
.description-container {
  margin-top: 0.5rem;
  position: relative;
}

form > div,
.description-container > p {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0.25rem 0;
}

label,
.description-label {
  width: 165px;
}

input {
  height: 1.5rem;
  flex: 1;
}

select {
  height: 1.5rem;
}

input[type="file"] {
  display: inline-block;
}

input[type="number"] {
  flex: none;
  width: 4rem;
}

.submit-container {
  margin-top: 1rem;
  justify-content: flex-end;
}

input[type="submit"] {
  flex: none;
  font-size: 1rem;
  padding: 0 0.5rem;
  cursor: pointer;
}

p#item-description {
  margin-top: 4rem;
}

/* .card-title {
  display: flex;
  justify-content: space-between;
} */
